## Reto 2: Convertir tablas en MySQL a `DataFrames` de `pandas`

### 1. Objetivos:
    - Solicitar todos los datos de las tablas que están almacenadas en nuestra base de datos, convertirlos a `DataFrames` y guardarlos.
    
---
    
### 2. Desarrollo:

#### a) Tablas a `DataFrames`

Ya que tenemos nuestra conexión funcionando adecuadamente, vamos a utilizarla para realizar consultas a las base de datos y construir una base de datos local. Tu Reto consiste en los siguientes pasos:

1. Vuelve a establecer la conexión a la base de datos
2. Usando el comando `SELECT * FROM nombre_de_tabla`, realiza consultas a cada una de las 5 tablas que existen en la base de datos.
3. Crea un `DataFrame` por cada tabla que obtuviste. Para asignarle los nombres de las columnas correctamente, revisa el archivo [Readme.md](../../Datasets/MovieLens/Readme.md) donde está contenida toda esa información.
4. Asegúrate de que el índice sea adecuado en cada `DataFrame`. En los casos en los que haya datos redundantes, convierte una de las columnas en índice.
5. Si lo deseas ordena las columnas de la manera en la que mejor te parezca.
6. Guarda tus `DataFrames` en formato .csv para utilizarlos en los siguientes Retos.

> **NOTA IMPORTANTE**: La tabla movies es un poco complicada porque contiene muchos signos distintos. Tanto en la columna de nombre de película como la de género, encontramos signos como `,`, `:`, `.`, `|`. Esto hace un poco complicado el almacenamiento y lectura de este archivo. Si elijes guardar este archivo como un .csv separado por comas (`,`), a la hora de leerlo de regreso, `pandas` puede confundirse y pensar que el título de una película que contiene comas constituye dos columnas. Por esta razón, te recomiendo que la tabla `movies` la guardes agregando un separador poco convencional como `sep='$'`. De esta manera será muchísimo más fácil leer tu archivo de regreso usando ese separador.

In [ ]:
!pip install mysql-connector-python
import pandas as pd
import numpy as np
import mysql.connector

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 19.4 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cnx = mysql.connector.connect(
    host="ec2-35-92-160-222.us-west-2.compute.amazonaws.com",
    port=3306,
    user="data",
    password='khQ9--mp6LWq97iA',
    database='movielens'
)
cursor = cnx.cursor()

In [ ]:
cursor.execute('SHOW TABLES')
result = cursor.fetchall()
result

[('age_ranges',), ('movies',), ('occupations',), ('ratings',), ('users',)]

In [18]:
cursor.execute('SELECT * FROM age_ranges')
result = cursor.fetchall()

ages = pd.DataFrame(result, columns=['ageID','ageRange'])
ages

   ageID  ageRange
0      1  Under 18
1     18     18-24
2     25     25-34
3     35     35-44
4     45     45-49
5     50     50-55
6     56       56+

In [19]:
cursor.execute('SELECT * FROM occupations')
result = cursor.fetchall()

occupations = pd.DataFrame(result, columns=['occupationID','description'])
occupations

    occupationID             description
0              0  other or not specified
1              1       academic/educator
2              2                  artist
3              3          clerical/admin
4              4    college/grad student
5              5        customer service
6              6      doctor/health care
7              7    executive/managerial
8              8                  farmer
9              9               homemaker
10            10            K-12 student
11            11                  lawyer
12            12              programmer
13            13                 retired
14            14         sales/marketing
15            15               scientist
16            16           self-employed
17            17     technician/engineer
18            18     tradesman/craftsman
19            19              unemployed
20            20                  writer

In [ ]:
cursor.execute('SELECT * FROM ratings')
result = cursor.fetchall()

ratings = pd.DataFrame(result, columns=['userID','movieID','rating','timestamp'])
ratings

In [20]:
cursor.execute('SELECT * FROM users')
result = cursor.fetchall()

users = pd.DataFrame(result, columns=['userID','gender','age','occupation','zip'])
users

      userID gender  age  occupation    zip
0          1      F    1          10  48067
1          2      M   56          16  70072
2          3      M   25          15  55117
3          4      M   45           7  02460
4          5      M   25          20  55455
...      ...    ...  ...         ...    ...
6035    6036      F   25          15  32603
6036    6037      F   45           1  76006
6037    6038      F   56           1  14706
6038    6039      F   45           0  01060
6039    6040      M   25           6  11106

[6040 rows x 5 columns]

In [ ]:
cursor.execute('SELECT * FROM movies')
result = cursor.fetchall()

movies = pd.DataFrame(result,columns=['movieID','title','genre'])
movies

In [ ]:
df_reto_3.to_csv('near_earth_objects-jan_feb_1995-reto_3.csv',sep=',',encoding='utf-8')

Compara con tus compañeros y revisa con la experta para que todos estén seguros de que tienen sus `DataFrames` estructurados de la manera correcta y que sus archivos .csv fueron creados exitosamente. Vamos a utilizar estos archivos en los Retos siguientes, así que es muy importante que tus datos estén estructurados adecuadamente.

In [ ]:
occupations.to_csv('occupations.csv',sep='\t',encoding='utf-8')
ages.to_csv('age_ranges.csv',sep='\t',encoding='utf-8')
ratings.to_csv('ratings.csv',sep='\t',encoding='utf-8')
users.to_csv('users.csv',sep='\t',encoding='utf-8')
movies.to_csv('movies.csv',sep='\t',encoding='utf-8')